body {
  background-color: rgb(236, 235, 216);
}

.headerLogo img {
  height: 200px;
  width: 100%;
}

.marvel-group {
  text-align: center;
  margin-top: 5px;
}

.menuHeader {
  height: 60px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  text-decoration: none;
}

.characterContainer {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 630px;
  background-color: red;
  margin: 20px;
  color: white;
}

.charactersContainer {
  display: flex;
  justify-content: center;
}

.charactersContainer img {
  width: 600px;
  height: 450px;
  object-fit: cover;
  object-position: top;
}

.characterContainer h2 {
  font-size: 25px;
  font-family: bold;
  text-align: center;
}

.characterContainer p {
  padding-left: 10px;
}

.comicContainer {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 1100px;
  background-color: rgb(48, 158, 202);
  margin: 20px;
  color: white;
}

.comicsContainer img {
  width: 600px;
  height: 850px;
}

.comicsContainer {
  display: flex;
  justify-content: center;
}

.comicContainer h2 {
  font-size: 25px;
  font-family: bold;
  text-align: center;
}

.comicContainer p {
  padding-left: 10px;
  padding-right: 10px;
}

.search form {
  height: 50px;
  background-color: darkgrey;
  margin-top: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input {
  height: 30px;
  width: 140px;
  margin-right: 20px;
}

.search button {
  height: 38px;
  width: 140px;
}

.input-character input {
  height: 30px;
}

.pageButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageButton button {
  width: 100px;
  height: 40px;
  margin-right: 20px;
  font-size: 20px;
  margin-top: 20px;
}
